body{
    padding-top:30px;
}
.try{
    width:700px;
    margin:auto;
    background-color: rgba(153, 153, 153, 0.15);
}
.try2{
    width:700px;
    margin:auto;
    display:flex;
    justify-content:center;
    align-items:center;
}
.main{
    display:flex;
    font-size:12px;
    /*font-family:'Times New Roman', Times, serif;*/
}
.first-half{
    flex:50%;
}
.second-half{
    flex:50%;
    padding-left:10px;
    padding-right:10px;
}
img{
    max-width:100%;
    min-height:100%;
}

h1{
    text-align: center;
    text-transform: uppercase;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

h5{
    margin:10px 0 0 0;
    
    
}
h6{
    font-style: italic;
    font-weight: 100;
    margin:0px;
}
.credit{
    font-size: 12px;
    color:rgb(255, 136, 38);
}
.link{
    color:rgb(38, 89, 255);
}
a:link {
    text-decoration: none; 
}
a:visited {
    
    text-decoration: none;
}
a:hover {
    color: rgba(128, 128, 128, 0.726);
    text-decoration: none;
}