body{
    font-size:12px;
    width:400px;
}
h1{
    text-align: center;
    font-family: "Droid Serif","Helvetica Neue","sans-serif";
    text-transform: uppercase;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

h5{
    margin:10px 0 0 0;
    
}
h6{
    font-style: italic;
    font-weight: 100;
    margin:0px;
}
.credit{
    font-size: 12px;
    color:rgb(255, 136, 38);
}
.link{
    color:rgb(38, 89, 255);
}
a:link {
    text-decoration: none; 
}
a:visited {
    
    text-decoration: none;
}
a:hover {
    color: rgba(128, 128, 128, 0.726);
    text-decoration: none;
}
